!!!
%head
  %link{:rel => :stylesheet, :type => :"text/css", :href => "/assets/css/bootstrap.css"}
  %link{:rel => :stylesheet, :type => :"text/css", :href => "/assets/css/styles.css"}
%body
  %nav.navbar.navbar-default.navbar-fixed-top
    .container
      .navbar-header
        %a.navbar-brand Dave Rosborough

  .container
    .starter-template
      %h1 My Sites

      .btn-group-vertical
        %a.btn.btn-link{ href: "http://www.geckodigital.ca/" } Gecko Digital
        %a.btn.btn-link{ href: "http://www.iepcentre.com/" } IEP Centre


      %h1 Blogs

      .btn-group-vertical
        %a.btn.btn-link{ href: "https://www.rosborough.ca/faith" } Faith
        %a.btn.btn-link{ href: "https://www.rosborough.ca/code" } Code
        %a.btn.btn-link{ href: "https://www.rosborough.ca/edu" } Education

      %h1 Simulations

      .btn-group-vertical
        %a.btn.btn-link{ href: "https://www.rosborough.ca/drosophila" } Drosophila
        %a.btn.btn-link{ href: "https://www.rosborough.ca/daphnia" } Daphnia
        %a.btn.btn-link{ href: "https://www.rosborough.ca/contagion" } Contagion